#root{
  position: relative;
  z-index: 2; 
}
#bg{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform-origin: center;
  transition: 1s;

}
.side {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
}

.back {
  transform: translateZ(-50px);
  background: var(--green);
}

.bottom {
  transform: rotateX(90deg) translateZ(-50px);
  background: var(--orange);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
  background: var(--red);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
  background: var(--yellow);
}

.left {
  transform: rotateY(90deg) translateZ(-50px) ;
  background: var(--blue);
}

.front {
  transform: translateZ(50px);
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}  


/* ------------------------------------------------------------------------header----------------------------------------------------------*/
header{
  padding: 1rem 0.6rem;
}

#btn_menu{
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: none;
  padding: 0;
  position: relative;
}

#btn_menu div{
  width: 1.8rem;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
}
nav{
  display: flex;
  justify-content: space-between;
}
#links{
  opacity: 0;
  transition: 1s;
  color: rgb(255, 255, 255);  
}
#links li{
  border-bottom: solid 2px white;
  padding: 0.6rem 0;
  transition: 0.6s;
}
#links li:hover{
  padding-left:2rem ;
  color: #ddd;
}
/* for menu animation */
.appear{
  opacity: 1!important;
}
.blur{
  filter: blur(10px);
}


/* ------------------------------------------------------------------------pages----------------------------------------------------------*/


/* cart description style */
.container{
  max-width: 1080px;
  width: 90%;
  margin: 5rem auto;
  opacity: 0;
  color: white;
  transition: 1s;
}

.title{
  font-size: var(--fM);
  text-transform: uppercase;
}
.work{
  font-size: var(--fl);
}
.description{
  color: #ddd;
}

/* nav links style */
.list{
  list-style-type: none;
}
.list li{
  padding: 0.6rem 1.2rem;
  margin: 1rem 0;
  position: relative;
}
.link{
  color: var(--white);
  text-decoration: none;
}
.line_right{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #00ffff;
}
.line_left{
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #00ffff;
  transition: 0.4s;
}
ul li:hover > .line_left{
  width: 100%;
  height: 2px;
  background-color: #00ffff;
}


/* social links style */
.social{
  display: flex;
  gap: 1.6rem;
}
.icon{
  font-size: var(--fl);
  color: var(--lightWhite);
}
.icon:hover{
  color: var(--white);
}

/* letter different style */
.different{
  color: #00ffff;
  text-shadow:4px 4px 0px  #ff447f  ;
}

/* scroll animation  */
.animated{
  animation: scroll 1s ease 3s forwards;
}
@keyframes scroll{
  0%{
    opacity: 0;
    margin-top: 10rem;
  }
  100%{
    margin-top: 5rem;
    opacity: 1;
  }
}


